<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.PicCommentRelMapper">
  <resultMap id="BaseResultMap" type="com.bo.PicCommentRel">
    <id column="PIC_GROUP_ID" jdbcType="INTEGER" property="picGroupId" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="COMM_MAIN" jdbcType="VARCHAR" property="commMain" />
    <result column="COMM_DATE" jdbcType="VARCHAR" property="commDate" />
    <result column="COMM_STATE" jdbcType="VARCHAR" property="commState" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PIC_GROUP_ID, USER_ID, COMM_MAIN, COMM_DATE, COMM_STATE
  </sql>
  <select id="selectByExample" parameterType="com.bo.PicCommentRelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from PIC_COMMENT_REL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PIC_COMMENT_REL
    where PIC_GROUP_ID = #{picGroupId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from PIC_COMMENT_REL
    where PIC_GROUP_ID = #{picGroupId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bo.PicCommentRelExample">
    delete from PIC_COMMENT_REL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bo.PicCommentRel">
    insert into PIC_COMMENT_REL (PIC_GROUP_ID, USER_ID, COMM_MAIN, 
      COMM_DATE, COMM_STATE)
    values (#{picGroupId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{commMain,jdbcType=VARCHAR}, 
      #{commDate,jdbcType=VARCHAR}, #{commState,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bo.PicCommentRel">
    insert into PIC_COMMENT_REL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="picGroupId != null">
        PIC_GROUP_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="commMain != null">
        COMM_MAIN,
      </if>
      <if test="commDate != null">
        COMM_DATE,
      </if>
      <if test="commState != null">
        COMM_STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="picGroupId != null">
        #{picGroupId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="commMain != null">
        #{commMain,jdbcType=VARCHAR},
      </if>
      <if test="commDate != null">
        #{commDate,jdbcType=VARCHAR},
      </if>
      <if test="commState != null">
        #{commState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bo.PicCommentRelExample" resultType="java.lang.Long">
    select count(*) from PIC_COMMENT_REL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PIC_COMMENT_REL
    <set>
      <if test="record.picGroupId != null">
        PIC_GROUP_ID = #{record.picGroupId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.commMain != null">
        COMM_MAIN = #{record.commMain,jdbcType=VARCHAR},
      </if>
      <if test="record.commDate != null">
        COMM_DATE = #{record.commDate,jdbcType=VARCHAR},
      </if>
      <if test="record.commState != null">
        COMM_STATE = #{record.commState,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PIC_COMMENT_REL
    set PIC_GROUP_ID = #{record.picGroupId,jdbcType=INTEGER},
      USER_ID = #{record.userId,jdbcType=INTEGER},
      COMM_MAIN = #{record.commMain,jdbcType=VARCHAR},
      COMM_DATE = #{record.commDate,jdbcType=VARCHAR},
      COMM_STATE = #{record.commState,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bo.PicCommentRel">
    update PIC_COMMENT_REL
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="commMain != null">
        COMM_MAIN = #{commMain,jdbcType=VARCHAR},
      </if>
      <if test="commDate != null">
        COMM_DATE = #{commDate,jdbcType=VARCHAR},
      </if>
      <if test="commState != null">
        COMM_STATE = #{commState,jdbcType=VARCHAR},
      </if>
    </set>
    where PIC_GROUP_ID = #{picGroupId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bo.PicCommentRel">
    update PIC_COMMENT_REL
    set USER_ID = #{userId,jdbcType=INTEGER},
      COMM_MAIN = #{commMain,jdbcType=VARCHAR},
      COMM_DATE = #{commDate,jdbcType=VARCHAR},
      COMM_STATE = #{commState,jdbcType=VARCHAR}
    where PIC_GROUP_ID = #{picGroupId,jdbcType=INTEGER}
  </update>
</mapper>