* {
	margin: 0;
	padding: 0;
	list-style: none;
}

body,html {
	width: 100%;
	height: 743px;
}

nav {
	min-width: 1228px;
	max-width: 1880px;
	padding: 0 40px;
	height: 60px;
	background: #000;
	color: #fff;
}

.navull {
	float: left;
}

.navull li {
	float: left;
	height: 60px;
	width: 76px;
	text-align: center;
	line-height: 60px;
	font-size: 14px;
}

.webicon {
	width: 76px;
	height: 60px;
	display: inline;
}

.webicon img {
	padding-top: 20px;
	width: 80px;
	height: 20px;
	vertical-align: middle;
	float: left;
}

.navull li:nth-child(1) {
	margin-left: 20px;
}

.navulr ul {
	float: right;
}

#nav {
	background: #000;
}

article {
	margin-top: 60px;
	width: 100%;
	display: inline-block;
}

.navulr li {
	height: 60px;
	float: right;
	font-size: 14px;
	color: #fff;
	line-height: 60px;
	margin-left: 15px;
}

.navulr button {
	color: #C99A05;
	background: #000;
	width: 82px;
	height: 26px;
	line-height: 25px;
	text-align: center;
	border: solid 1px #c99a05;
}

.navulr li:nth-child(2) {
	width: 40px;
	background: url(../img/fileupPage/rightCatch.png) no-repeat -163px 16px;
}

.navulr li:nth-child(3) {
	width: 60px;
	height: 60px;
}

.navulr li:nth-child(4) {
	width: 40px;
	background: url("../img/fileupPage/rightCatch.png") no-repeat 0px 16px;
}

article {
	height: calc(100% - 60px);
	width: 100%;
}

.artleft {
	color: #85888A;
	background: #f9edf8;
	width: calc(100% - 300px);
	float: left;
	height: 100%;
	box-size: border-box;
}

.artleft .fromxc {
	font-size: 15px;
}

.artleft .fromxc img {
	height: 14px;
}

.files {
	margin-top: 20px;
}

.file-box {
	width: 300px;
	height: 193px;
	display: inline-block;
	position: relative;
	padding: 3px 5px;
	overflow: hidden;
	color: #fff;
	background-color: #F9F9F9;
	border: solid 1px #E0E0E0;
	margin-top: 10px;
	margin-left: 10px;
}

.file-btn {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	outline: none;
	background-color: transparent;
	filter: alpha(opacity = 0);
	opacity: 0;
}

.file-box div {
	color: #85888A;
}

.file-box img {
	margin: 58px 127px 5px;
}

.file-box div {
	text-align: center;
	font-size: 12px;
}

.artright {
	float: right;
	width: 300px;
}

.artrightUp {
	box-sizing: border-box;
	padding: 12px;
	font-size: 14px;
}

.artrightUp .showTo {
	font-size: 14px;
}

.artrightUp .labels div,.artrightUp .labelsA div {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
}

.selectLacal select {
	border: 2px solid #E0E0E0;
	width: 260px;
	height: 44px;
	margin: 15px 0;
}

.meanwhile {
	font-size: 14px;
}

.selectDefault select {
	border: 2px solid #E0E0E0;
	width: 160px;
	height: 42px;
	margin: 15px 0;
}

.newone {
	margin-left: 10px;
	border: 2px solid #E0E0E0;
	background: #fff;
	width: 82px;
	height: 42px;
}

.title {
	border: 2px solid #E0E0E0;
	width: 260px;
	height: 44px;
	margin: 15px 0;
}

.phtotDes {
	
}

.describe {
	border: 2px solid #E0E0E0;
	width: 260px;
	height: 113px;
	margin: 15px 0;
}

.labelA {
	border: 2px solid #E0E0E0;
	width: 260px;
	height: 44px;
	margin: 15px 0;
}

.PhotoUsual,.PhotoAppro {
	margin: 10px 0;
}

.photoLabel a:nth-of-type(1) {
	color: #796d6d;
	font-size: 13px;
}

.submit {
	text-align: center;
	line-height: 45px;
	letter-spacing: 9px;
	background: #C99A05;
	border: none;
	color: #fff;
	width: 100%;
	height: 45px;
	font-size: 18px;
}

.artright input,.artright select {
	padding: 7px;
}

.file1 {
	display: inline-block;
	margin-right: 30px;
}

#showPhoto div {
	margin: 10px;
	float: left;
	height: 200px;
	width: 350px;
}

#showPhoto div img {
	height: 100%;
	width: 100%;
}